---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/hero-section.tsx';
---

<Layout title="Chuyển đổi tiền tệ">
	<main class="h-screen w-screen">
		<HeroSection client:visible/>
	</main>
</Layout>
